
   /* plan escolar Estilos básicos para la disposición de las celdas */
   .container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cell {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

/* Estilos para las imágenes */
.cell img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el texto de lorem ipsum */
.lorem {
    margin-top: 10px;
}


/*
Final
css plan escolar
*/
