
  /* tarjetas */
  .txt-card{
    font-family: Andale Mono, AndaleMono, monospace; 
    font-size: 19px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400;
     line-height: 15.6px;;
    color: white;
    margin-top: 13px;
    font-weight: bold;
  }
.card-subtitle {
  margin-top: 5px;
 }
  .sinfondo{
  position: Absolute;
  top:0;
  width: 140px;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index: -1;
 }
.card-body
{
  margin-left: 13px;
}

.imagenredonda{
    width:150px;
    height:150px;
    border-radius:160px;
    border:5px solid #666;
    z-index: 2;
    margin-bottom: 12px;
    margin-top: 30px;
 }

 .card {
background-color: #657bb4; 
z-index: -2;
border-radius:29px 0px 29px 0px;
}
  .card h6{
    color: yellow;
    font-weight: 10 !important;
  line-height: 1.2;
  z-index: 2;
  font-size:large;
 }

   .flotante{
    width: 59px;
    position: absolute;
    z-index:2;
    top: -21px;
    left: 254px;
  }
/*<---_-_-_--__--__--__--__-- plan escolar Estilos básicos -_-_--__--> */
.container {
    display: flex;
    justify-content: space-around;
    /* margin-top: 20px; */
}
.imagensemicuadrada{
  object-fit: cover;
  width: 93%;
  height: 189px;
margin-bottom: 4px;
border-radius:29px 0px 29px 0px;
}
#barra1 {
  Left:17px;
}
.barraMarilla{
  position: Absolute;
	width: 40px;
	height: 356px;
	background-color: yellow;
  Left:217px;
  top: -1px;
  border-bottom: 4px solid yellow;
      z-index: -1;
}
.ovalo{
  position: center;
    background: radial-gradient(#F5CD3C, white);  
    margin-top: 70px;
    margin-bottom: 50px;
  height: 50px;
  width: 701px;
  border-radius: 50%;
  
  }
  .plan-esc{
background-color: #555f93;
  } 

  #imgPre{
    width: 88%;
    height: 189px;
    object-fit: cover;
    object-position: bottom;
  }
  #imgSec{
    object-fit: cover;
    width: 86%;
    height: 189px;
    margin-left: -23px;
  }
/*
Final
css plan escolar
*/


/* logotipo al costado de el titulo */
.logoencabezado{
    min-height: 150px;
  width: 150px;
  position: absolute;
  top: 0px;
  left: 0px;
}

/* logotipo suzuki */
.logosuzuki{
    /* min-height: 150px; */
  width: 295px;
  position: absolute;
  top: 0px;
  left: 920px;
}

.cell {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

/* Estilos para las imágenes */
.cell img {
    max-width: 100%;
    height: auto;
}

/* Estilos para el texto de lorem ipsum */
.lorem {
    margin-top: 10px;
}

/* BORDER-TOP-LEFT-RADIUS */

/* 
inicio
css para talleres { 

 } */